@font-face {
  font-family: "iconfont"; /* Project id 3468387 */
  src: url('../fonts2/iconfont.woff2?t=1655433678352') format('woff2'),
       url('../fonts2/iconfont.woff?t=1655433678352') format('woff'),
       url('../fonts2/iconfont.ttf?t=1655433678352') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-chongwu:before {
  content: "\e67b";
}

.icon-maoliang:before {
  content: "\e602";
}

.icon-xiedaichongwu:before {
  content: "\e90d";
}

.icon-chongwumao:before {
  content: "\e608";
}

.icon-chongwuwanju:before {
  content: "\e676";
}

.icon-chongwusheying:before {
  content: "\e603";
}

.icon-jiazheng_huaban1fuben17:before {
  content: "\e615";
}

.icon-chongwujiyang:before {
  content: "\ed05";
}

.icon-chongwulianyi:before {
  content: "\ed0d";
}

